<div class="container">
  <div class="dialog-header">
    <h2 mat-dialog-title>Employee Details</h2>
    <mat-icon mat-dialog-close class="close-icon">cancel</mat-icon>
  </div>
  <mat-dialog-content>
    <div class="employee-details">
      <div class="employee-details__field">
        <span class="employee-details__field-label">Employee ID </span>
        <span class="employee-details__field-value"
          >: {{ data.employeeId }}</span
        >
      </div>
      <div class="employee-details__field">
        <span class="employee-details__field-label">Name </span>
        <span class="employee-details__field-value">: {{ data.name }}</span>
      </div>
      <div class="employee-details__field">
        <span class="employee-details__field-label">Gender </span>
        <span class="employee-details__field-value">: {{ data.gender }}</span>
      </div>
      <div class="employee-details__field">
        <span class="employee-details__field-label">Age </span>
        <span class="employee-details__field-value">: {{ data.age }}</span>
      </div>
      <div class="employee-details__field">
        <span class="employee-details__field-label">Department </span>
        <span class="employee-details__field-value"
          >: {{ data.department }}</span
        >
      </div>
      <div class="employee-details__field">
        <span class="employee-details__field-label">Distance From Home </span>
        <span class="employee-details__field-value"
          >: {{ data.distanceFromHomeKm }} km</span
        >
      </div>
      <div class="employee-details__field">
        <span class="employee-details__field-label">State </span>
        <span class="employee-details__field-value">: {{ data.state }}</span>
      </div>
      <div class="employee-details__field">
        <span class="employee-details__field-label">Ethnicity </span>
        <span class="employee-details__field-value"
          >: {{ data.ethnicity }}</span
        >
      </div>
      <div class="employee-details__field">
        <span class="employee-details__field-label">Education Field </span>
        <span class="employee-details__field-value"
          >: {{ data.educationField }}</span
        >
      </div>
      <div class="employee-details__field">
        <span class="employee-details__field-label">Job Role </span>
        <span class="employee-details__field-value">: {{ data.jobRole }}</span>
      </div>
      <div class="employee-details__field">
        <span class="employee-details__field-label">Marital Status </span>
        <span class="employee-details__field-value"
          >: {{ data.maritalStatus }}</span
        >
      </div>
      <div class="employee-details__field">
        <span class="employee-details__field-label">Salary </span>
        <span class="employee-details__field-value"
          >: {{ data.salary | currency }}</span
        >
      </div>
      <div class="employee-details__field">
        <span class="employee-details__field-label">Stock Option Level </span>
        <span class="employee-details__field-value"
          >: {{ data.stockOptionLevel }}</span
        >
      </div>
      <div class="employee-details__field">
        <span class="employee-details__field-label">Over Time </span>
        <span class="employee-details__field-value">: {{ data.overTime }}</span>
      </div>
      <div class="employee-details__field">
        <span class="employee-details__field-label">Hire Date </span>
        <span class="employee-details__field-value"
          >: {{ data.hireDate | date : "dd/MM/yyyy" }}</span
        >
      </div>
      <div class="employee-details__field">
        <span class="employee-details__field-label">Years At Company </span>
        <span class="employee-details__field-value"
          >: {{ data.yearsAtCompany }}</span
        >
      </div>
      <div class="employee-details__field">
        <span class="employee-details__field-label"
          >Years In Most Recent Role
        </span>
        <span class="employee-details__field-value"
          >: {{ data.yearsInMostRecentRole }}</span
        >
      </div>
      <div class="employee-details__field">
        <span class="employee-details__field-label"
          >Years Since Last Promotion
        </span>
        <span class="employee-details__field-value"
          >: {{ data.yearsSinceLastPromotion }}</span
        >
      </div>
      <div class="employee-details__field">
        <span class="employee-details__field-label"
          >Years With Current Manager
        </span>
        <span class="employee-details__field-value"
          >: {{ data.yearsWithCurrManager }}</span
        >
      </div>
      <div class="employee-details__field">
        <span class="employee-details__field-label">Attrition </span>
        <span class="employee-details__field-value"
          >: {{ data.attrition }}</span
        >
      </div>
      <div class="employee-details__field">
        <span class="employee-details__field-label">Comment </span>
        <span class="employee-details__field-value">: {{ data.comment }}</span>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
      <button mat-button cdkFocusInitial [mat-dialog-close]="true" (click)="openUpdateDialog()">Update</button>
      <button mat-button [mat-dialog-close]="true" (click)="openDeleteDialog()">Delete</button>
    </mat-dialog-actions>
</div>
