.mat-column-Action {
  text-align: center;
}

.notified-row {
  background: linear-gradient(45deg, #ffe6e6, #ffd5d5);
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: rgba(99, 99, 99, 0.5);
}

